
html{
  
  
 	
}

*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	/*word-wrap:break-word;*/
	}

body{
	position: relative !important;
	margin:0 5px;
	padding:0;
	line-height:1.42857143;
	font-size:1em;
	font-family: Roboto,Helvetica,Arial,sans-serif,verdana,lucinda;  /*"Open Sans","Trebuchet ms","Helvetica CY","Nimbus Sans L",sans-serif*/
	/*color:#253529;*/
	color:555;
	/*background:#1d2b34;*/
	background-image:url("https://provident-funds.com/wealth-island-images/icons/site_bkg.png");
	/*background-attachment:fixed;*/
	
    
}



/*////////////////////////WRAPPER SUBBODY///////////*/

.wrapper{
	
	padding:0px;

}


a{
 outline:0;
	
}

a:active, a:focus,a:hover{
	
	background:#8B0000;
	text-decoration:none;
	color:#fff;
	
}

a:link,a:visited{
	
	color:#181899;
}



ul{
    padding:0;
	margin-bottom:5px;
	margin-top:5px;
}


hr{
	border:none;
	border-bottom: 1px solid #a9a9a9;
	border-top: 1px solid #696969;
	
}


h1,h2,h3,h4,h5,h6{
	margin:5px 0;
	padding: 0 3px;
	word-wrap:break-word;
}



input,select,textarea,button{
	
	border:1px solid #c0c0c0;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	
}



.fp_domaincaption{
	
	color:#808000;
	padding:0 5px;
	font-size:30px;
	text-align:center;
}

.fp_capt{
	
	color:#808000;
	padding:0 5px;
	text-align:center;
	margin-bottom:0;
}

a#fp_h{
	text-decoration:none;
	color:#808000;
	padding:3px;
	
}

#db_name{
	clear:both;
	display:block;
	position:relative;
	bottom:-10px;
	right:0;
	color:#ff0000;
	
}


.postul{
	
	text-align:center;
}

span#avatar_gender{
	
	position:absolute;
	left:-16px;
	
	
}

.avatar{
	
	position:relative;
	bottom:5px;
	float:right;
	text-decoration:none;
	text-transform:capitalize;
	
	
}

.avatar:hover,.avatar:active,.avatar:focus{
	
	background:none;
}


.avatar img{
	
	position:relative;
	float:left;	
	max-width:80px;
	height:60px;
	margin-right:20px;
	border:none;
	/*border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;*/
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;

	
}


div.midpage_scroll{
	
	width:40px;
	position:fixed;
	bottom:30px;
	right:200px;
	display:none;
	z-index:100;

}

div.midpage_scroll img{
	
	margin:5px;
	border:none;

}

div.midpage_scroll a:active,div.midpage_scroll a:focus,div.midpage_scroll a:hover{
	
	background:transparent;

}




.likes_image,.min_img,img.reg_suc_fav{
	
	max-width:20px;
	height:20px;
	padding:0;
	margin:0;
	background:#444;
	/*border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;*/
	border:none;
}

/*///////REGISTRATION SUCCESS ICON///////////////////////////////*/

img.reg_suc_fav{
	
	max-width:50px;
	height:50px;
	
}





div.dropping_arrow,.dropping_arrow_inbox,.dropping_arrow_canc_acc,.dropping_arrow_campaign{
	
	width:0;
	height:0;
	border-bottom:20px solid #4b5320;
	border-left:20px solid transparent;
	border-right:20px solid transparent;
	margin:0 auto;
	display:none;
	
}


.dropping_arrow_inbox{
	
	margin-right:363px;
	
}

.dropping_arrow_canc_acc{
	
	margin-right:400px;
	
}

.dropping_arrow_campaign{
	
	margin-right:530px;
	
}




.buttons{
	
	background:#191970;/*#3d0c02;*/
	/*border:1px solid white;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;*/
	padding:20px 100px;
	margin:0px 0;
	cursor:pointer;
	max-width:300px;
	text-align:center;
	color:#fff ;
	font-size:1em;
	
		
}

.buttons:hover,.jump2page_button:hover,#jump2page_button:hover{
	
	background:#480607;
	color:#84DE02 ;
	cursor:pointer;
}


.required{
	
	color:#ff0000;
	font-weight:bold;
}

.black,#black{
	
	color:#253529;
	
}


.l-r_padding{
	
	
	padding:0 30px;
}

.green,#green{
	
	color:#008000;
	
}

.lgreen,#lgreen{
	color: #396;
}

.asterix{
	
	color:#ff0000;
	
	font-size:24px;
	
	font-weight:bold;
	
}


.blue,#blue{
	color:#0000ff;
}

.red,#red{
	color:#ff0000;
	
}

.bold{
	
	font-weight:bold;
	
}

.yellow,#yellow{
	
	color:#F4A460;
}

.white,#white{/*//NOTE white was re-assigned black///*/
	color:#253529;
	
}



.dkred{
	
	color:#930801;
}

.cya{
	
	color:#4aff00;

}

.cyan,#cyan{
	
	color:#9932CC;
}

.align_center{
	
	text-align:center;
	
}


.field_err{
	
	border:1px solid #ff0000;
	background:#ff0000;
}

.errors{
	
	background:#FFA500;
	color:#ff0000;
	padding:20px 10px;
	font-size:1.1em;	
	
	
}



a.links{
	text-decoration:none;
}

a.links:hover{
	/*text-decoration:underline;*/
	color:#cccc00;
}

img{
	width:100%;
	height:auto;
	
}

.close,.close_alert{
	
position:absolute;
top:5px;
right:10px;	
font-size:30px;
color:#ff0000;
	
}

.close:hover,.close_alert:hover{
	
	font-weight:bold;
	cursor:pointer;
	border:1px solid #fff;
	
	
}

.pointer{
	
	cursor:pointer;
}

.rflt{
	float:right;
}



a.abtn{	
	display:inline-block;
	padding:5px;
	padding-bottom:30px;
	margin:0px;
	max-width:300px;
	height:30px;
	margin-top:10px;
	cursor:pointer;
	border:1px solid #c0c0c0;
	background:#1E90FF;/*#7c0a02;*/
	color:#fff;
	position:absolute;
	right:0px;
	bottom:0px;
}

a.all_abtn{	
	display:inline-block;
	padding:5px;
	padding-bottom:30px;
	margin:0px;
	max-width:300px;
	height:30px;
	margin-top:10px;
	margin-left:10px;
	cursor:pointer;
	border:1px solid #c0c0c0;
	background:#1E90FF;/*#7c0a02;*/
	color:#fff;
}

a.all_abtn:hover{color:#00ff00;}

#ads_buttons,#min_buttons{
	
	padding:0px;
	margin:0px;
	max-width:102px;
	height:30px;
	margin-top:5px;
	margin-right:10px;
	cursor:pointer;
	
}

.upload_input,#upload_input{
	
	background:#1E90FF;/*#7c0a02;*/
	color:#fff;
	/*border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;*/
	padding:5px;
	font-weight:bold;	
	border-top:2px solid #c0c0c0;
	border-left:2px solid #c0c0c0;
	border-right:2px solid #fff;
	border-bottom:2px solid #fff;
	max-width:500px;
	cursor:pointer;
	
}






/*///////////////////////////TOP MOST NAVIGATION//////////////////////////////////////////////////////////////*/



header.top_nav,header.top_nav_min{/*/////////////////////////WRAPPER TOPNAV//////////////////////////*/
	
	max-width:1100px;
	background:#E8ECE0;/*916a70; d2691e;*/
	border:1px solid #c0c0c0;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	margin:10px auto;
	padding-bottom:1px;
	margin-bottom:8px;
	padding-left:0px;
	padding-top:30px;
	
	
}


.top_nav ul,.top_nav_min ul{
	
	margin-top:0px;
	padding:0 20px;
	padding-top:10px ;
	
	
	
}

header.top_nav_min ul li{
	
	list-style-type:none;
	padding:5px 3px;
	margin:5px auto;
	background:#0000ff;
	text-align:center;
	
	
}

header.top_nav ul li{
	list-style-type:none;
	float:left;
	padding:3px 3px;
	margin:0px auto;
	
	
}


header.top_nav ul li a,header.top_nav_min ul li a{
	
	text-decoration:none;
	color:#1034A6;/*#54626F;*/
	padding:4px;
	
}


header.top_nav ul li a:hover,header.top_nav_min ul li a:hover,a#fp_h:hover{
	
	background:none;
	color:#FFF;
	
}




header.top_nav ul li img{
	
position:relative;
left:0px;
top:0px;	
width:80px;
height:70px;
margin:0;
padding:0;
border:none;
	
}

li#avatar{
	
	float:right;
}

header.top_nav ul li a.prof_pic:hover{
	
	background-color:transparent;
	
}

li#stats,li#privilege,li#tnav_nops{
	
	background:none;
}


.sidenav{
	
	width:300px;
	height:1000px;
	background:blue;
	
	
}


a#top_nav_dropicon:hover{
	
	background:none;
}


/*/////////////////////////TOPMOST NAV DROPDOWN/////////////////////////////////////////////////////////////*/

img#dropmenu{
	
position:relative;
left:0px;
top:8px;	
max-width:40px;
max-height:40px;
margin:0;
padding:0;
border:none;

}

/********DASHBOARD DROP*************************/
li.udash_wrap ul{
	display:none;
}

img.drop_ind{
	
position:relative;
top:3px;		
width:15px;
height:15px;
margin:0;
padding:0;
border:none;

}

/*///////DROPMENU///////////////////////////////*/

.drop_opened{
	
	overflow:hidden;
	
}

/*//////TOGGLE DROPMENU ICON///////////*/

.close_drop_ico1,.close_drop_ico2{
	
	display:none!important;
	
}

.drop_opened a#drop_dropicon[class="open_drop_ico"]{
	
	display:none!important;
}

.drop_opened a#drop_dropicon[class="close_drop_ico1"],
.drop_opened a#drop_dropicon[class="close_drop_ico2"]{
	
	display:inline-block!important;
}
.drop_opened a#drop_dropicon[class="close_drop_ico1"]{/*HIDE TOP CLOSE ICO*/
	
	display:none!important;
}

/*POSITION INDROP CLOSE*/

.drop_opened a#drop_dropicon[class="close_drop_ico2"]{
	
	position:absolute;
	top:0px;
	right:0px;
	background:#c0c0c0;
	padding:0px;
	
}
/*//////END TOGGLING OF DROPMENU ICON//////////*/



.drop_opened .top_nav_drop {
	z-index: 999;
	/*top: 10px;/*150px*/
	top: 10px;/*150px*//*RADDED*/
	bottom:0px;/*20px*/
	zoom: 1;
	
	
}

nav.top_nav_drop{/*/////////////////////////WRAPPER TOPNAV DROPDOWN//////////////////////////*/
	
	max-width:1100px;
	background:#F6F6EC;  /*916a70; d2691e;*/
	background:#232128;
	z-index: 999;
	border:1px solid #fff;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	margin:0px auto;
	margin-bottom:8px;
	padding:10px 0px;
	list-style-type:none;
	text-align:center;
	position:fixed;
	top:-15000px;		
	/*display:none;*/
	width:90%;
	height: 80%;/*RADDED*/
}

nav.top_nav_drop > ul{
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	padding-bottom:40px;
	
}

nav.top_nav_drop ul li,nav.top_nav_drop ul li ul{
	
	padding-left:10px;
	list-style-type:none;
	/*background:#E8ECE0; 006539 #808080;
	border-bottom:1px solid #c0c0c0;*/
	
}

nav.top_nav_drop ul li a {
	
	background-image: none!important;
	color: white!important;
	padding: 15px;
	margin-left: 0px;
	margin-right: 0px;
	display: block;
	border-bottom: 1px solid #3f3b49;
	border-left: 1px solid #3f3b49;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	text-decoration: none;
}

nav.top_nav_drop ul li a:hover{
	
	background:#006969;
	background-color: #3f3b49!important;
	padding-left: 20px;
	border-left:2px solid #00FF00;
}

nav.top_nav_drop ul li ul li a:hover{
	
	background:#006969;
	background-color: #3f3b49!important;
	padding-left: 20px;
	border-left:2px solid #CC00CC;
}

a #top_nav_dropicon:active ,a#top_nav_dropicon:focus,a#top_nav_dropicon:hover
a #slide_dropicon:active ,a#slide_dropicon:focus,a#slide_dropicon:hover,
a #drop_dropicon:active ,a#drop_dropicon:focus,a#drop_dropicon:hover{
	
	background:none;
}


/*////////TOP NAV SLIDE/////////////////////*/


.slide_drop_opened{
	left:50%!important;
	overflow:hidden;
	
}

/*//////TOGGLE SLIDEMENU ICON///////////*/

.close_slide_ico1,.close_slide_ico2{
	
	display:none!important;
	
}

.slide_drop_opened a#slide_dropicon[class="open_slide_ico"]{
	
	display:none!important;
}

.slide_drop_opened a#slide_dropicon[class="close_slide_ico1"],
.slide_drop_opened a#slide_dropicon[class="close_slide_ico2"]{
	
	display:inline-block!important;
}

/*POSITION INSLIDE CLOSE*/
.slide_drop_opened a#slide_dropicon[class="close_slide_ico2"]{
	position:absolute;
	top:0px;
	right:0px;
	background:#c0c0c0;
	padding:0px;
}


/*//////END TOGGLING OF SLIDEMENU ICON//////////*/

nav.slide_drop_wrapper{
	
	position:fixed;
	top:10px!important;
	bottom:0;
	background:#232128;
	padding-top:20px;
	width: 50%;
	right:-500%!important;
	z-index: 999;
	zoom: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}


.slide_drop_opened .slide_drop_wrapper {
	z-index: 999;
	left: 0%;
	zoom: 1;
	
	
}

ul.slide_drop{
	
	list-style-type:none;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	padding:0;
	margin:0;
	
}

ul.slide_drop li,ul.slide_drop li ul{
	
	padding-left:10px;
	list-style-type:none;
	
	
}

ul.slide_drop li h1{
	
	text-align:center;
	
	
}

ul.slide_drop li a{
	
	background-image: none!important;
	color: white!important;
	padding: 15px;
	margin-left: 0px;
	margin-right: 0px;
	display: block;
	border-bottom: 1px solid #3f3b49;
	border-left: 1px solid #3f3b49;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	text-decoration: none;
}

ul.slide_drop li a:hover{
	background-color: #3f3b49!important;
	padding-left: 20px;
	border-left:2px solid #00FF00;
}

ul.slide_drop li ul li a:hover{
	background-color: #3f3b49!important;
	padding-left: 20px;
	border-left:2px solid #CC00CC;
}



 /*////////////////////SUB NAV MENU CSS BEGINS /////////////////*/
  
header.mainnav div.mainnav_a_wrapper{
	text-align:center;
	margin-bottom:20px;
}



  
header.mainnav{/*//////////////////////WRAPPER SUBNAV//////////////////////////*/

	max-width:1100px;
	background:#F6F6EC;
	padding:20px;
	border:1px solid #c0c0c0;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	margin:0 auto;
	margin-bottom:5px;
	
}

header.mainnav a{
	
	text-decoration:none;
	color:#0048BA;
	padding: 20px 6px;
	padding-top:21px;
	
	
}

header.mainnav a:hover{
	
	background:#336969;
	color:#FFF;
	
}

header.mainnav  span.pos_point{
	/*color:#00FF00;*/
}



.likes_shares{
	
	
	padding:0 20px;
	
}





.stats{
	clear:both;
	
}


#privilege{
	

	color:#9932CC;
	font-weight:bold;
	
	
}

.privilege span{
	
	
	
	
	
}




/*///////////////////TOP NAV MENU CSS ENDS ///////////////////////*/


/*///////////////////////////////////////VIEW USER PROFILE /EDIT USER PROFILE/////////////////////////*/


img.user_prof_dp{
	
padding:0 10px;		
max-width:500px;
height:auto;
margin-top:10px;
border:none;

	
}


.bottomBorders{
	border-bottom:1px solid #000000;
	display:inline-block;
	padding:2px 0px;
	margin-bottom:5px;

	
}

.no_tdecor{
	
	text-decoration:none;
}

#dplikes li{
	
	list-style:none;
	margin:8px 0px;
	
	
}


span.pwspace{
	
	white-space:pre-wrap;
	
}


button.anchor_button a{
	
	text-decoration:none;
	color:#fff;
	
}




.opah{
	
	/*opacity:0.6;*/
	font-style:italic;
}


span.alert_user{
	
	font-weight:bold;
	font-style:italic;
	color:#ff0000;
	
}




.strikeThru{
	
	text-decoration:line-through;
	color:#ff0000;
	
}

.capFirst{
	
	text-transform:capitalize;
}

.upperCase{
	text-transform:uppercase;
	
}



div#hide_vuwbb{/*//////HIDE BACKGROUND & BORDER IN VIEW USER WRAPPER//////////////////////*/
	
	background:none;
	border:none;
}


div.view_user_wrapper  {/*/////////////////////////WRAPPER VIEW_USER//////////////////////////*/
	
	max-width:1100px;
	background:#E8ECE0;/*#696969 TOP WRAPPER COLORS:#669999-LightBlue,#346539-main green,#339966,#336699, #666699 nairal-F6F6EC,E8ECE0*/
	text-align:center;
	color:#333;
	margin: 0 auto;
	padding:20px 5px;
	border:1px solid #5F9EA0;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	margin-bottom:5px;
	
}




div.view_user_wrapper ul li {
	
	list-style-type:none;
	

}



div.view_user_wrapper input,.view_user_wrapper textarea,
	.view_user_wrapper select,.ads_edit_form input,
	.view_user_wrapper button,.formFields,.formTextarea,.only_form_textarea_inputs {
	
	max-width:800px;
	height:40px;
	padding:0px 10px;
	text-align:left;
	font-size:1em;
	background:#FFF;/*#4c2f27;*/
	color:#253529;/*B8860B;*/
	cursor:pointer;
	overflow:hidden;

}


div.view_user_wrapper input:focus,.view_user_wrapper textarea:focus,
	.view_user_wrapper select:focus,.formFields:focus,
	.formTextarea:focus,.only_form_textarea_inputs:focus,li.jump2page_wrapper input:focus,
	.ads_edit_form input:focus{
	
	background:#FFF;/*B0C4DE;*/
	color:#253529;
	
	
	
}




div.view_user_wrapper textarea,.formTextarea{
	
	height:100px;
	overflow-y:auto;
	/*resize:none;*/
	
}



form label,form[name="reg"] label,form[name="user_prof"] label,form[name="edit_prof"] label,form[name="changepass"] label{
	
	font-weight:bold;
	/*color:#1E90FF;*/
	color:#008000;
	
	
	
	
}

form input[type="file"] {
	
	background:#1E90FF;
	
	
}

fieldset{
	background:#F6F6EC;
	text-align:left;
	padding:10px 0;
	padding-left:150px;
	border:none;
	padding-bottom:20px;
}


div.view_user_wrapper form label{
	
	display:block;
	margin-top:10px;
	

}





div.view_user_wrapper input.formButtons,div.view_user_wrapper button.formButtons,.formButtons{
	
	max-width:300px;
	text-align:center;
	padding:5px 20px;
	margin-top:20px;
	font-size:1em;
	cursor:pointer;
	/*border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	background:#480607;*/
	background:#8B0000;/*#00BFFF;*/
	color:#fff;
	
	
	
}


#change_email_button{
	margin-top:5px;
	max-width:170px;
	background:#9400D3;
	cursor:pointer;
	color:#FFF;
	
	
}

div.view_user_wrapper input.formButtons:hover,div.view_user_wrapper button.formButtons:hover,
div.view_user_wrapper select.only_form_textarea_inputs:hover,#pwdupdate:hover,.formButtons:hover
,#min_buttons:hover,#change_email_button:hover,a.abtn:hover{
	
	cursor:pointer;
	background:#4169E1;
	/*background:#7c0a02;
	background:#4c2f27;*/
	color:#00ff00;
	
}

/*///////SET OVERRIDE FOR SELECT AND OPTION/////////*/

select option,div.view_user_wrapper select.only_form_textarea_inputs option{
	
	background:#c0c0c0;
	border-top:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;
	padding:5px;
	padding-left:10px;
	margin-bottom:1px;
	color:#333;
	
	
}

select:hover,div.view_user_wrapper select.only_form_textarea_inputs:hover{
	
	background:#232128;
	color:#FFF;
}


select option:hover,div.view_user_wrapper select.only_form_textarea_inputs option:hover{
	
	padding-left:20px;
	background:red;
	color:#FFF;
}


/*//////NON EDITABLE FIELDS////////*/

form input[readonly],form textarea[readonly],form select[readonly]{
	cursor:not-allowed;
	background:#eee;
}

form input[readonly]:focus,form textarea[readonly]:focus,form select[readonly]:focus{
	
	background:#eee;
}




#dpic{
	background:transparent;
	width:auto;
	margin-bottom:40px;
	margin-top:0px;
	
	
}




div.account_cancel_wrapper,div.alert_actions, div.camp_optbot{
	position:relative;
	background-color:#F6F6EC;
	border:1px solid #c0c0c0;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	padding:10px;
	margin-bottom:10px;
	font-size:18px;
	
}


div.alert_actions,.account_cancel,.inbox_hist,.old_inbox_hist,.delete_campaign_drop,.ads_edit_form{
	
	display:none;
	
}


/*//////////////////////////////////INBOX CSS///////////////////////////////////////*/

div.deleteInbox{
	background:#4b5320;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	padding:10px;
	width:auto;
	margin:5px auto;
	text-decoration:none;
	color:#0000ff;
	display:inline-block;
	margin-left:10px;
	
	
}

.delete_old_inbox_hist{
	
	list-style:none;
	position:relative;
	
}


div.deleteInbox a{
	text-decoration:none;
	
}


div.deleteInbox a:hover,div.deleteInbox:hover{
	
	color:#000000;
	/*text-decoration:underline;*/
	cursor:pointer;
}


#innerInbox header{
	background:#808080;
	color:#FFF;
	max-width:1000px;
	margin:0px auto;
	padding:10px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;	
	position:relative;
	
}


a.reply_pm,div.reply_pm{
	background:transparent;
	border:none;
	color:#0000ff;
	font-weight:bold;
	float:right;
	padding-right:40px;
	font-size:0.8em;
	width:auto;
	
	
}



#innerInbox #senderinbox:hover, #innerInbox button:hover,a.reply_pm:hover{
	/*text-decoration:underline;*/
	color:#ff0000;
	cursor:pointer;
	
}



#innerInbox #messagesubject{
	background:#F6F6EC;      /*9f2b68     4c2f27*/
	color:#000;
	max-width:500px;
	margin:0px auto;
	margin-top:5px;
	padding:10px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	word-wrap:break-word;
}


#like_checkbox{
	
	display:inline-block;
	width:auto;
	height:2px;
	
	
	
}


#innerInbox .checkbox{
	
	max-width:20px;
	height:20px;
	float:left;
	margin-top:20px;
	border-radius:0;
	padding:0;
	background:transparent;
	
}

#innerInbox .checkbox:hover{
	
	cursor:pointer;
	
}


#innerInbox #messageWrapper{
	
	border:1px solid #c0c0c0;
	padding:10px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;	
	
}
	
#innerInbox #mssgcontents{
	
	text-align:left;
	line-height:30px;
	padding:0px 10px;
	padding-left:30px;
	padding-bottom:20px;
	margin-top:20px;
	line-height:30px;
	white-space:pre-wrap;
	word-wrap:break-word;
}

div.spt_rmk{
	color:#0000FF;
	
}


.current_tab{	
	color:#000000;
	font-weight:bold;
	
}

/*/////////////////////////////FOOTER//////////////////////*/

.footer{
	
	max-width:1100px;
	text-align:center;
	/*background:#E8ECE0;*/
	background:#777;
	padding:40px 10px;
	font-size:0.8em;
	margin:0 auto;
	margin-bottom:0px;
	border:1px solid #c0c0c0;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	
}

#footer_1{
	margin-bottom:0;
	border-bottom:0;
	background:#111;
	color:#bbb;
}

#footer_2{
	
}


div.qcklnks{
	float:left;
	margin:0 15px;
}

div.qcklnks a{
	
	color:#bbb;
	display:inline-block;	
	padding:5px;
}


/**********SIGN UP/LOGIN******************************/
div#signupformcontainer,div#loginformcontainer,.type_b{
	
	border:1px solid #8B0000;
	padding:10px;
	
}


/*////////////////////////LOGIN PAGE///////////////////////////*/
	

#login_checkbox{
	
	width:15px;
	height:15px;
	margin-left:10px;
	border-radius:0;
	padding:0;
	background:transparent;
	
}




/*////////////////////////////PACKAGES///////////////////////////////////////*/

div#packages_h{
	
	background-image:url("https://provident-funds.com/wealth-island-images/icons/clg.jpeg");
	background-attachment:fixed;
	background-size:cover;

}

div#packages_h div.packages{
	
	width:335px;
	display:inline-block;
	margin-right:10px;
	background-image:url("https://provident-funds.com/wealth-island-images/icons/site_bkg.png");
	
}

.chk_fa{margin:0 5px;}

.chk_fa:before{
	content:"\2713 ";
	
}

span.pack_feat{		
	display:block;
	padding:10px;
	
}


div.followers{
	font-size:18px;
	color:#000;
}

div.packages{
	
	margin-bottom:20px;
}

div.packages h3{
	color:#0000FF;
}


div.packages h3 span{
	color:#FF0000;
}

div.packages h4 span{
	color:#345682;
}


/*//////STANDARD//////////////////*/

div.std_pack{
	
	border:1px solid #008000;
	padding-bottom:10px;		
}

div.std_pack h1{
	margin-top:0;
	border-bottom:1px solid #008000;
	background:#008000;
	color:#fff;
	padding:10px;	
}

input#std_btn{
	
	background:#008000;
}

div.std_pack hr{
	border:none;
	border-bottom:1px solid #008000;
}

/*//////CLASSIC//////////////////*/

div.clsc_pack{
	
	border:1px solid #4C2F27;
	padding-bottom:10px;		
}

div.clsc_pack h1{
	margin-top:0;
	border-bottom:1px solid #4c2f27;
	background:#4c2f27;
	color:#fff;
	padding:10px;	
}

input#clsc_btn{
	
	background:#4c2f27;
}

div.clsc_pack hr{
	border:none;
	border-bottom:1px solid #4c2f27;
}

/*//////PREMIUM//////////////////*/

div.prm_pack{
	
	border:1px solid #9400D3;
	padding-bottom:10px;		
}

div.prm_pack h1{
	margin-top:0;
	border-bottom:1px solid #9400D3;
	background:#9400D3;
	color:#fff;
	padding:10px;	
}

input#prm_btn{
	
	background:#9400D3;
}

div.prm_pack hr{
	border:none;
	border-bottom:1px solid #9400D3;
}

/*//////ELITE//////////////////*/

div.elt_pack{
	
	border:1px solid #B8860B;
	padding-bottom:10px;		
}

div.elt_pack h1{
	margin-top:0;
	border-bottom:1px solid #B8860B;
	background:#B8860B;
	color:#fff;
	padding:10px;	
}

input#elt_btn{
	
	background:#B8860B;
}

div.elt_pack hr{
	border:none;
	border-bottom:1px solid #B8860B;
}

/*//////LORD//////////////////*/

div.lrd_pack{
	
	border:1px solid #FF1493;
	padding-bottom:10px;		
}

div.lrd_pack h1{
	margin-top:0;
	border-bottom:1px solid #FF1493;
	background:#FF1493;
	color:#fff;
	padding:10px;	
}

input#lrd_btn{
	
	background:#FF1493;
}

div.lrd_pack hr{
	border:none;
	border-bottom:1px solid #FF1493;
}

/*//////MASTER//////////////////*/

div.mst_pack{
	
	border:1px solid #8B0000;
	padding-bottom:10px;		
}

div.mst_pack h1{
	margin-top:0;
	border-bottom:1px solid #8B0000;
	background:#8B0000;
	color:#fff;
	padding:10px;	
}

input#mst_btn{
	
	background:#8B0000;
}

div.mst_pack hr{
	border:none;
	border-bottom:1px solid #8B0000;
}

/*//////ROYAL//////////////////*/

div.roy_pack{
	
	border:1px solid #808000;
	padding-bottom:10px;		
}

div.roy_pack h1,h1.fp_header{
	margin-top:0;
	border-bottom:1px solid #808000;
	background:#808000;
	color:#fff;
	padding:10px;	
}

input#roy_btn{
	
	background:#808000;
}

div.roy_pack hr{
	border:none;
	border-bottom:1px solid #808000;
}


/*//////ULTIMATE//////////////////*/

div.ult_pack{
	
	border:1px solid #ff0000;
	padding-bottom:10px;		
}

div.ult_pack h1{
	margin-top:0;
	border-bottom:1px solid #ff0000;
	background:#ff0000;
	color:#fff;
	padding:10px;	
}

input#ult_btn{
	
	background:#ff0000;
}

div.ult_pack hr{
	border:none;
	border-bottom:1px solid #ff0000;
}


/******POP IMAGE************************/

img.pop{
	
	max-width:300px;
	height:auto;
	border:none;
	
}





/*******MODALS*************************************************/

/****animation for modal**************/
@keyframes fadeIn{
	from{opacity:0}
	to{opacity:1}
}

@-webkit-keyframes fadeIn{
	from{opacity:0}
	to{opacity:1}
}

@keyframes slideIn{
	from{bottom:-300px; opacity:0}
	to{bottom:0; opacity:1}
}

@-webkit-keyframes slideIn{
	from{bottom:-300px; opacity:0}
	to{bottom:0; opacity:1}
}


div.modal{
	display:none;/*Hidden by default*/
	position:fixed;/*Stay in place*/
	z-index:1;/*Sit on top*/
	left:0;
	top:0;
	
	width:100%;/*Full width*/
	/*Full height*/
	/*background-color:rgb(0,0,0);/*black*/
	/*background-color:rgb(0,0,0,0.4);/*black with opacity*/
	animation-name:fadeIn;
	-webkit-animation-name:fadeIn;/*Fade in the background*/
	animation-duration:0.4s;
	-webkit-animation-duration:0.4s;
	background:rgba(0,0,0,0.8);
	padding-bottom:100000px;
	
	
}

div.modal_content{
	/*position:fixed;*/
	position:relative;
	background-color:#fefefe;
	width:100%;
	height:100%;
	top:-40px;
	margin:60px auto;/*15% replaced by 60px*/
	border:1px solid #c0c0c0;
	overflow-y:scroll;
	animation-name:slideIn;
	-webkit-animation-name:slideIn;/*Fade in the background*/
	animation-duration:0.4s;
	-webkit-animation-duration:0.4s;
	padding:20px;
	padding-top:10px;
	margin-bottom:500px;
	
}



div.modal_header{
	padding:20px 10px;
	background-color:#5cb85c;
	color:#FFF;
	margin-bottom:30px;
}

div.modal_body{
	padding:3px 10px;
}

div.modal_footer{
	padding:3px 10px;
	background-color:#5cb85c;
	color:#FFF;
}

span.close_modal{
	color:#FFF;
	float:right;
	font-size:28px;
	font-weight:bold;
}

span.close_modal:hover,span.close_modal:focus{
	color:#000;
	cursor:pointer;
}



/***********TIMER****************************************/

div.timer_wrapper,h2.pay_timer_wrapper{
	text-align:center;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
	margin:0;
}

#clockdiv div > span{
    padding: 10px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}
#clockdiv .smalltext{
    padding-top: 2px;
    font-size: 16px;
}


.disabled{
	opacity:0.2;
}

/******************PAGINATION************************/


div.pagination {
	
	margin:20px auto;
	padding:0px 20px;
	
}


div.midpage_scroll{
	
	width:40px;
	position:fixed;
	bottom:30px;
	right:200px;
	display:none;
	z-index:100;

}

div.midpage_scroll img{
	
	margin:5px;
	border:none;

}

div.midpage_scroll a:active,div.midpage_scroll a:focus,div.midpage_scroll a:hover{
	
	background:transparent;

}



div.pagination a,div.pagination a:visited,#current_page{
	
	border:1px solid #000000; 
	padding:3px;
	text-decoration:none;
	color:#0000ff;
	background:#ff0000;;
	
}

#current_page{
	
	color:#fff;
	font-weight:bold;
	background:#000;
}


div.pagination a:hover {
	
	color:#fff;
	background:#2b9f68;
	
}



input[name="page_input"]{
	
	color:#fff;
}


form.jump2page,#jump2page{
	
	list-style:none;
	
	display:inline-block;
	
	
}


form.jump2page,form#jump2page{
	
	display:none;
}


#jump2page_wrapper{
	
	border:none;	
	
}


li.jump2page_wrapper input,#jump2page_wrapper input{
	
	padding:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	max-width:130px;
	height:30px;
	color:#FFF;
	font-size:0.7em;
	margin-top:7px;
	background:#4c2f27;
	
	
}


#jump2page_wrapper input:focus{
	
	color:#fff;
}


a#skippage{
	border:none;
	padding:0;
	position:relative;
	top:6px;
	background:none;
	
}

a#skippage:hover{
	
	background:none;
}

img.pageskip{
	
	max-width:25px;
	height:25px;
	padding:0px;
	border:none;
}






.checkbox,#checkbox{
	
	padding:0;
	width:15px;
	height:15px;
	border-radius:0;
	background:transparent;
}

.checkbox:hover,#checkbox:hover{
	
	cursor:pointer;
}

img.delete{
	
	border:none;
}


img.topic_indenter{
	
	max-width:30px;
	padding:0px;
	margin:0 3px;
	position:relative;
	border:none;
	top:8px;
	z-index:1;
	
	
}

img.delete{
	
	max-width:15px;
	font-weight:bold;
	background:#fff;
	color:#ff0000;
	padding:0px;
	margin:0 3px;
	
}


img.delete:hover{
	
	color:#000000;
	background:#ab274f;
	cursor:pointer;
	
}



/*******HOME*************************/
h1.fp_header{

	margin-top:0;
	border-bottom:1px solid #5cb85c;
	background-color:#5cb85c;
	color:#fff;
	padding:10px;	
}

img.img_m{
	
	max-width:50px;
	height:auto;
	padding:0px;
	border:none;
}
img.img_md{
	
	max-width:100%;
	max-height:auto;
	padding:0px;
	border:none;
}

img.steps_img{
	
	max-width:100%;
	height:auto;
	padding:0px;
	border:none;
}


div.md_1{
	background-image:url("https://provident-funds.com/wealth-island-images/icons/cntp.jpg");
	
}

div.fp1{
	background-image: url("https://provident-funds.com/wealth-island-images/icons/atmc.jpeg");	
	background-attachment:scroll;
	padding-bottom:20px;	
	border:1px solid #5cb85c;
	color:#fff;

	
}

div.fp1 div{
	padding:10px;
}

div.view_user_wrapper div.fp1 form input{
	background:#8B0000;/*#808000;*/
}

/*********LOH*****************************/

div.loh{
	
	border:1px solid #8B0000;
	padding-bottom:10px;
	margin:5px;
	margin-top:20px;
	margin-bottom:20px;	
	
}

div.loh h2,.hbkg{
	margin-top:0;
	border-bottom:1px solid #8B0000;
	background:#8B0000;
	color:#fff;
	padding:10px;	
}

.hbkg{margin:0;}

span.loh_header{
	font-weight:bold;
	color:#0000FF;
	float:left;
	background:#808000;
	padding:5px;
}
span.loh_loc{
	font-size:15px;
	color:#fff;
	margin-left:5px;
}
div.loh_content{
	white-space:pre-wrap;
	padding:10px;	
	text-align:left;
}
span.loh_footer{
	float:right;
	background:#8B0000;
	color:#FFF;
	padding:5px;
}


/********ACCORDIONS*****************************/

div.accordion_1{
	display:none;
}


div.accordion_2{
	display:none;
}

/**DONATION HISTORIES ACCORDIONS***************/

div.dh_wrapper div.dh_accordion_wrap:first-child div.accordion_2{
	display:block;
	
}


.accordion_2_trig{
	cursor:pointer;
}



/*********NEWS*****************************/
div.news{
	border:1px solid #c0c0c0;
	margin:25px 0px;
	
	
}


div.news_wrapper div.news:first-child div.accordion_1{
	display:block;
}

div.news_header{
	background:#396;
	padding:20px;
	text-align:left;
	color:#934;
	font-size:1.5em;
	cursor:pointer;
}
div.news_footer{
	background:#033;
	padding:15px;
	text-align:right;
	color:#FFF;
}

span.news_tstamp{

	float:left;
	background:#8B0000;
	color:#FFF;
	padding:5px;
	margin-top:20px;
}

div.news_content{
	white-space:pre-wrap;
	padding:10px 20px;
	position:relative;
	padding-bottom:35px;
	text-align:left;
	
}

div#news_content{
	
	padding-bottom:5px;
}


/*******HIW*************************/

img.img_typef{
		
	max-width:60%;
	border:none;
	max-height:100px;
	
}

img.img_type4{
		
	max-width:300px;
	border:none;
	
}

img.img_type5{
		
	max-width:200px;
	border:none;
	
}

img.img_type6{
		
	max-width:100px;
	border:none;
	
}


div.type_a{
	
	border:1px solid #8B0000;
	padding:20px;
	padding-left:25px;
	margin:5px;
	margin-top:20px;
	margin-bottom:20px;	
}

div.type_a h2,.h_bkg,.h_bkg2{
	
	border-bottom:1px solid #8B0000;
	background:#8B0000;
	color:#fff;
	padding:10px;
	margin-bottom:15px;	
	margin-top:15px;
}

.h_bkg2{
	background:#0000ff;
}

div.hiw ul li {
	list-style-type:disc;
	text-align:left;
	margin-bottom:20px;
	
}

div.hiw ul{
	padding-left:12px;
}


/*****POLICIES******************/

div.poli_banner img{
		
	max-width:250px;
	border:none;
	display:inline-block;
	margin:0;
	padding:0;


}


/********FAQ***************************/

ol#faq{
	text-align:left;
	padding:0;
	list-style-type:none;
}

ol#faq li{
	
	margin:5px;
}

span.faq_num{
	padding-right:10px;
}

ol#faq li div.faq_c{
	border:1px solid #396;
	padding:10px;
	display:none;
	font-size:16px;
}

ol#faq li > a{
	text-decoration:none;
	background:#396;
	padding:15px;	
	color:#fff;
	text-transform:uppercase;
	display:block;
	font-size:16px;
}



/*******BANNERS**************/

div.abt_banner{
	height:100px;
	background-image:url("https://provident-funds.com/wealth-island-images/icons/abt.jpg");
	background-attachment:fixed;
	background-size:cover;

}



/*****SLIDERS********************/

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  font-weight:bold;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.pos_ind{
	text-align:center;
	display:none;
}

.active, .dot:hover {
  background-color: #717171;
}



/****TABLE*****************************/

div.tab_wrap{
	overflow:scroll;
}

table, td, th{
	
	border: 1px solid #000000;
	border-collapse:collapse;
	text-align:center;
	color:#FFF;
	
	
}
table{
	
	max-width:95%;
	margin: 0 auto;
	
}

td,th{
	background:#4c2f27;
	padding:15px 15px;
	
}

th{
background-color: #396;
}

/*//////////CLEAR FLOATS////////////////////////////////////*/

.clear::after{
	
	content:"";
	clear:both;
	display:block;
	
	
}


/*////////////////////CONTENT MENU CSS ENDS ///////////////////////*/




/*/////////////////OVERRIDE CSS BEGIN/////////////////////////////////////////////////////////////////////////*/


input[type="radio"]{
	
	height:15px;
	
}


select[multiple] {
	
	height:auto;	
	
}

/*////////////////////END OF OVERRIDE///////////////////////////////////////////////////////////////////////////////////*/